header {
    display: block;
    position:fixed;
    padding: 20px;
    top : 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom left,transparent,white),url(librairy/steamwallpaper.jpg);
    z-index: 1500;
    border: 0px;
}

.table-container {
    display: flex;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

corpus {
    top: 100px;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    position: relative;
    border: 0px;
}
container {
    height: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    border: 0px;
}

#navbar {
    position: fixed;
    top: 100px;
    bottom: 0px;
    width: 160px;
    padding: 20px;   
    background:linear-gradient(to top,transparent,95%,white),url(librairy/spacewallpaper.jpg!d);
   
    border: 0px;
   background-size:220px;
    background-position: 0px;
    background-clip: border-box;

}

.dropdown-menu{
 
    position: relative;
    display: block;
}

.dropdown-menu h6 {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.selection-menu {
    left: 160px;
    display: flex;
    position:fixed;
    background-color: rgb(162, 196, 211);
    width: 100%;
    right: 0px;
    z-index: 50;
}

.selection-menu label{
    font-weight: bolder;
    color: rgb(26, 21, 61);
}

.table-container{
    top: 180px;
    left: 160px;
    position: relative;
    width: 100%;
    padding: 0px;

}