header {
    display: block;
    position:relative;
    top : 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: rgb(237, 141, 24);
}

.table-container {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
}

corpus {
    height: 100%;
    bottom: 0px;
    position: static;
}
container {
    top: 100px;
    right: 0px;
    left: 0px;
    height: 100%;
    bottom: 0px;
    display: flex;
    position: absolute;
}

#navbar {
    position: relative;
    bottom: 0px;
    height: 100%;
    width: 160px;
    padding: 20px;
    background-color: rgb(56, 209, 148);
}

.dropdown-menu{
    position: relative;
    display: block;
}

.selection-menu {
    display: flex;
    position: absolute;
    background-color: rgb(252, 214, 26);
    width: 100%;

}

.table-container{
    position: absolute;
    top: 120px;

}